# Proces data sebelum memodelkan berdasarkan EDA setelah dilakukan

In [2]:
## 1. Import library
import pandas as pd
import numpy as np
import os

In [3]:
## 2. Load dataset mentah
df = pd.read_csv(r"C:\Mini_H\belajar\car_prediction\data\raw\car data.csv")
print("Data awal : ", df.shape)
df.head()

Data awal :  (301, 9)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
## 3. Hapus duplikat data

df.drop_duplicates(inplace=True)
print("Setelah hapus duplikat : ", df.shape)

Setelah hapus duplikat :  (299, 9)

In [8]:
## 4. Buang kolom yang tidak relevan
## kolom car_name tidak berpengaruh terhadap harga dan terlalu banyak kategorinya sehingga bisa dihapus

df.drop('Car_Name', axis=1, inplace=True)
print("kolom tersisa setelah di drop 1", df.columns.tolist())

kolom tersisa setelah di drop 1 ['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']

In [9]:
## 5. Buat fitur baru: umur mobil

df['Car_age'] = 2025 - df['Year']

In [10]:
## Hapus kolom Year karena sudah diganti Car_age
df.drop('Year', axis=1, inplace=True)

In [12]:
## 6. Cek ulang hasil transformasi

print(df[['Car_age','Selling_Price']].head())

   Car_age  Selling_Price
0       11           3.35
1       12           4.75
2        8           7.25
3       14           2.85
4       11           4.60

In [16]:
## 7. Encoding fitur kategorikal
## Tiga kolom kategorikal: Fuel_Type, Seller_Type, Transmission

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in ['Fuel_Type', 'Seller_Type', 'Transmission']:
    df[col] = le.fit_transform(df[col])

print("\n Contoh hasil encode :")
print(df.head())

 Contoh hasil encode :
   Selling_Price  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  \
0           3.35           5.59       27000          2            0
1           4.75           9.54       43000          1            0
2           7.25           9.85        6900          2            0
3           2.85           4.15        5200          2            0
4           4.60           6.87       42450          1            0

   Transmission  Owner  Car_age
0             1      0       11
1             1      0       12
2             1      0        8
3             1      0       14
4             1      0       11

In [18]:
## 8. Pisahkan fitur (X) dan target (y)

X = df.drop('Selling_Price', axis=1)
y = df['Selling_Price']

print("Fitur (X):", X.shape)
print("Target (y):", y.shape)

Fitur (X): (299, 7)
Target (y): (299,)

In [19]:
## 9. Split data train dan test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("data training : ", X_train.shape)
print("data testing : ", X_test.shape)

data training :  (239, 7)
data testing :  (60, 7)

In [20]:
## 10. Simpan data hasil preprocessing ===


os.makedirs("../data/processed", exist_ok=True)
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

train_data.to_csv("../data/processed/train_data.csv", index=False)
test_data.to_csv("../data/processed/test_data.csv", index=False)

print("\nðŸ’¾ Data hasil preprocessing disimpan di: data/processed/")

ðŸ’¾ Data hasil preprocessing disimpan di: data/processed/